<!-- Navbar -->
<nav
  class="main-header navbar navbar-expand border-bottom navbar-dark bg-primary"
>
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-link">
      WEB TECHNOLOGIES
    </li>
  </ul>
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li *ngIf="router.url !== '/login'">
      <button class="btn" (click)="handleLogout()">LogOut</button>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

<div class="row">
  <div class="col-12" *ngIf="router.url === '/login'; else dashboard">
    <router-outlet></router-outlet>
  </div>

  <ng-template #dashboard>
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>

    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>

<footer class="main-footer text-center">
  <!-- left side footer start -->
  <strong>Copyright &copy; 2019 <a href="#">Group 01</a>.</strong> All rights
  reserved.
  <!-- left side footer end -->
</footer>
