<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Academic Qualification Details
    </div>
    <div class="card-body">
      <h6 class="title">University Name :</h6>
      <p class="card-text text ml-5">{{accadamic.institute}}</p>
      <h6 class="title">Qualification Name :</h6>
      <p class="card-text text ml-5">{{accadamic.type}}</p>
      <h6 class="title">Year From :</h6>
      <p class="card-text text ml-5">{{accadamic.fromYear}}</p>
      <h6 class="title">Year To :</h6>
      <p class="card-text text ml-5">{{accadamic.toYear}}</p>
      <h6 class="title">Grade Obtain :</h6>
      <p class="card-text text ml-5">{{accadamic.gradeObtain}}</p>

      <div class="row float-right">
          <div class="col mt-3">
            <button class="btn btn-danger mr-2">Delete</button>
            <button class="btn btn-primary">Update</button>
          </div>
        </div>
    </div>
  </div>
</div>