<div class="card">
    <div class="card-header">
        Academic Qualification Details
    </div>
    <div class="card-body">
      <h6 class="card-title">University Name :</h6>
      <p class="card-text">aaa</p>
      <h6 class="card-title">Year From :</h6>
      <p class="card-text">aaa</p>
      <h6 class="card-title">Year To :</h6>
      <p class="card-text">aaa</p>
      <h6 class="card-title">Grade Obtain :</h6>
      <p class="card-text">aaa</p>
      
      <a href="#" class="btn btn-primary">Update</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>