<!-- appoinment start -->
<div class="container mt-5 mb-5">
  <div class="card">
    <!-- card header start -->
    <div class="card-header">
      <h5 class="card-title">User Details</h5>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Date Of Birth</th>
          <th>Address</th>
          <th>Contact Number</th>
          <th>NIC</th>
          <th colspan="2" class="no-padding">
            <div class="form-inline mb-2 mt-2 float-right">
              <input class="form-control form-control-sm" type="text" />
              <button class="btn btn-sm btn-primary ml-2 mr-3">Search</button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.fullName}}</td>
          <td>{{employee.dob | date : "MMM dd y"}}</td>
          <td>{{employee.address}}</td>
          <td>{{employee.contactNumber}}</td>
          <td>{{employee.nic}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary" (click) = "navigateView(employee.id)">
              View
            </button>
          </td>

          <td class="text-center">
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- delete modal start -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- modal content start -->
    <div class="modal-content">
      <!-- modal header start -->
      <div class="modal-header">
        <h6 class="modal-title">Delete Header</h6>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <!-- modal header end -->

      <!-- modal body start -->
      <div class="modal-body">
        <div class="col-md-12">
          Do you want to delete?
        </div>
      </div>
      <!-- modal body end -->

      <!-- modal footer start -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Yes
        </button>

        <button type="button" class="btn btn-default" data-dismiss="modal">
          No
        </button>
      </div>
      <!-- modal footer end -->
    </div>
    <!-- modal content end -->
  </div>
</div>
<!-- delete modal end -->