
  <div class="card">
      <div class="card-header">
          Experience Details
      </div>
      <div class="card-body">
        <h6 class="card-title">Company Name :</h6>
        <p class="card-text">aaa</p>
        <h6 class="card-title">Start Date :</h6>
        <p class="card-text">aaa</p>
        <h6 class="card-title">End Date :</h6>
        <p class="card-text">aaa</p>
        <h6 class="card-title">Designation :</h6>
        <p class="card-text">aaa</p>
        <h6 class="card-title">Duration :</h6>
        <p class="card-text">aaa</p>
        
        <a href="#" class="btn btn-primary">Update</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  
