<!-- Change Password start-->

<div class="row">
    <div class="col-md-8">
      <div class="card">
  
        <!-- card header start -->
        <div class="card-header">
          <h5 class="card-title">Change Password</h5>
  
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- card-header end -->
  
        <!-- card body start -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
  
                <!-- form start -->
                <form role="form">
  
                  <!-- card body start -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="userName">User Name</label>
                          <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter User Name">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input type="password" class="form-control" id="password1" name="confirmPassword" placeholder="Enter Confirm Password">
                          </div>
                        </div>
                    
                    </div>
                  </div>
                  <!-- card body end -->
  
                  <div class="card-footer">
                      
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submit">Submit</button>
                  </div>
                </form>
                <!-- form end -->
              </div>
            </div>
          </div>
  
        </div>
        <!-- card body end -->
  
      </div>
    </div>
  </div>

<!-- Change Password End -->
