<div class="container mb-5 mt-5">
  <div class="card">  
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="companyName">Company Name</label>
              <input type="text" class="form-control" [(ngModel)] = "experience.place" id="company" name="company" placeholder="Enter Company" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input type="date" class="form-control" [(ngModel)] = "experience.startDate" id="startDate" name="startDate" placeholder="Enter Start Date" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="endDate">End Date</label>
              <input type="date" class="form-control" [(ngModel)] = "experience.endDate" id="endDate" placeholder="Enter End Date" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="designation">Designation</label>
              <input type="text" class="form-control" [(ngModel)] = "experience.designation" id="designation" placeholder="Enter Designation" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="duration">Duration</label>
              <input type="text" class="form-control" [(ngModel)] = "experience.duration" id="duration" placeholder="Enter Duration" />
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
          <button *ngIf = "id; else create" type="button" class="btn btn-primary" (click) = "update()">
              Update
            </button>
          
          <ng-template #create>
            <button type="button" class="btn btn-primary" (click) = "createNew()">
                Add
              </button>
          </ng-template>
      </div>
    </div>
    <!-- Experience End -->    
</div>