<div class="container mt-3">
    <div class="card">
      <div class="card-header">
        Experience Details
      </div>
      <div class="card-body">
        <h6 class="title">Company Name :</h6>
        <p class="card-text text ml-5">{{experience.place}}</p>
        <h6 class="title">Start Date :</h6>
        <p class="card-text text ml-5">{{experience.startDate}}</p>
        <h6 class="title">End Date :</h6>
        <p class="card-text text ml-5">{{experience.endDate}}</p>
        <h6 class="title">Designation :</h6>
        <p class="card-text text ml-5">{{experience.designation}}</p>
        <h6 class="title">Duration :</h6>
        <p class="card-text text ml-5">{{experience.duration}}</p>

        <div class="row float-right">
            <div class="col mt-3">
              <button class="btn btn-danger mr-2">Delete</button>
              <button class="btn btn-primary">Update</button>
            </div>
          </div>
      </div>
    </div>
  </div>
