<div class="sidebar-container">
  <div class="sidebar-logo">
      EMS
  </div>
  <ul class="sidebar-navigation">
<li></li>
  
    <li>
      <a [routerLink]="['dashboard']" [routerLinkActive]="['active']">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li>
      <a [routerLink]="['all_employee']" [routerLinkActive]="['active']">
        <i class="fa fa-tachometer" aria-hidden="true"></i> All Employees
      </a>
    </li>
    <li>
      <a [routerLink]="['employee-details']" [routerLinkActive]="['active']">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Employee Details
      </a>
    </li>
    <li>
      <a [routerLink]="['new-employee']" [routerLinkActive]="['active']">
        <i class="fa fa-tachometer" aria-hidden="true"></i> New Employee
      </a>
    </li>
    
  </ul>
</div>


